.search-box {
  padding: 20px 10%;
  background-color: #fff159;
  display: flex;
  flex-direction: row;
}

.search-box > form {
  width: 100%;
  display: inherit;
  justify-content: space-between;
  margin-left: 50px;
  background-color: #ffffff;
  border: 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  font-size: 16px;
}

.search-box > form > input {
  width: 100%;
  outline: 0;
  border: 0;
  margin: 10px;
}

.search-box > form > button {
  outline: 0;
  border: 0;
  background-color: #ebecee;
}
